.regField{
    width: 100%;
    background-color: #E8F0F2;
    color: #000000;
    border: 1px solid #39A2DB;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;

}

.submitBtn{
    width:100%;
    background: #053742;
    border: 0;
    color: #E8F0F2;
    padding: 15px;
    margin: 15px 0 0 0;
    font-size: 15px;
    cursor: pointer;

}

.underLine{
    text-align: center;
    margin: 7px 0 0 0;
    display: block;
    color:#000000;

}

.linkBtn{
    text-decoration: underline;
    color: #000000;
    cursor: pointer;
    background-color:#39A2DB;
    border: 0;
}